<form method="post" action="">
  <div class="form-group">
    <input type="text" class="form-control" id="search" name="q" placeholder="Enter ...">
  </div>
  <button type="submit">Search</button>
</form>